.loginPage .productTitle {
	font-size: xx-large;
	margin-top: 50%;
}

.loginPage .sapMBtn {
	width: 14rem;
}

.loginPage .loginForm {
	margin-top: 50%;
}

.loginPage .sapMPanel {
	height: 100% !Important;
}

.loginPage .sapMPanel .sapMPanelContent {
	height: 100%;
}

.menuPage .menuList .sapMBtn {
	width: 100%;
}

.menuPage .menuList .sapMBtnInner {
	width: 100%;
	border: none;
	padding: 0rem;
}

.dmSplitContainer aside {
	position: absolute;
	z-index: 50;
}

.dmSplitContainer .sapUiUfdSpltContCanvas {
	position: initial;
}

.menuPage {
	border: none;
	padding: 0rem;
}

.siteMapPanel {
	overflow: scroll;
}

.siteMapPanel .sitePic {
	max-width: 30rem;
}

.invisible {
	display: none;
}

.welcomeText {
	font-size: 1.0rem;
	margin: 2rem;
}

.welcomeIcon {
	margin: 0.5rem;
	color: #DDDDDD;
	opacity: 1;
	/* transition: IE10, Opera, Firefox, Chrome 26  */
	transition: color 2.5s ease-in-out, transform 2.5s ease-in-out,
		-webkit-transform 2.5s ease-in-out, opacity 5s ease-in-out;
	/* -webkit-transition: Safari, Android Browser, BB Browser, Chrome 25 */
	-webkit-transition: color 2.5s ease-in-out, -webkit-transform 2.5s
		ease-in-out, opacity 8s ease-in-out;
}

.welcomeIconRotateForward {
	color: rgb(51, 51, 51);
	/* transform: IE10, Opera, Firefox */
	transform: rotate(360deg);
	/* -webkit-transform: Chrome, Safari, Android Browser, BB Browser */
	-webkit-transform: rotate(360deg);
}

.welcomeIconRotateBackward {
	color: #009de0;
	transform: rotate(-360deg);
	-webkit-transform: rotate(-360deg);
}

.welcomeIconFade {
	opacity: 0;
}


html {
	font-size: 18px;
}

.sapMList {
	font-size: 16px;
}

.sapMGT.TwoByOne {
	width: 22.5em;
	height: 11em;
}

.sapMGTHdrContent {
	height: 4em;
	margin-top: 0.625em;
	margin-left: 0.94em;
	margin-right: 0.94em;
}

.sapMTileCnt.News {
	height: 6.125em;
	margin-top: 0.3125em;
}

.sapMTileCnt.sapMFrameTypeAuto {
	height: 6.375em;
	min-width: 10.875em;
	max-width: 22.5em;
}

.sapMTileCntContent {
	height: 3.875em;
	margin-bottom: 0.25em;
	margin-top: 0.25em;
	padding-left: 0.9375em;
	padding-right: 0.9375em;
}

.sapMNwCCTxt .sapMText {
	display: inline;
	line-height: 1.5rem;
	font-size: 1rem;
}

.sapMNwC {
	display: inline-block;
	outline: none;
	width: 20.5em;
	height: 3.5625em;
}

.sapMBtnInner {
	font-size: 1rem;
}

.sapMNwCSbh {
	font-size: 0.925rem;
}

.sapMTileCntFtrTxt {
	font-size: 0.925rem;
}

html.sap-phone .sapMRespMenuDialog .sapMList .sapMLIBContent .sapMSLITitleOnly,
	html.sap-tablet .sapMRespMenuDialog .sapMList .sapMLIBContent .sapMSLITitleOnly
	{
	font-size: 1rem !important;
}

