.room {
	fill: #C8D9E7;
	stroke: #000000;
	stroke-miterlimit: 10;
}

.room-name-large {
	font-family: 'ArialMT';
	font-size: 28px;
}

.room-name-middle {
	font-family: 'ArialMT';
	font-size: 24px;
}

.room-name-small {
	font-family: 'ArialMT';
	font-size: 16px;
}

.line {
	fill: none;
	stroke: #000000;
	stroke-miterlimit: 10;
	opacity: 0.85;
}

.option-border {
	stroke: #a7a7a7;
	stroke-width: 3;
	opacity: 0.5;
	fill: #eeeeee;
}

.highlight {
	fill: #3f5161 !important;
	fill-opacity: 0.5 !important;
	stroke: white !important;
	stroke-opacity: 1 !important;
	stroke-width: 0.5 !important;
}

/* .navi-path {
	stroke: orange;
	fill: none;
	stroke-width: 3;
	stroke-dashoffset: 200;
	stroke-dasharray: 20, 10, 5, 5, 5, 10;
} */

.dest-icon {
	fill: #f0ab00;
}